@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    body * {
        visibility: hidden;
    }

    #certificate-area,
    #certificate-area * {
        visibility: visible;
    }

    #certificate-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}